{:kotoba.app/id "cloud.itonami.isic-9492", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigtkteowbi432sltdbdgfuatbqmdx6tsyk7n4itbkfyhs4hwuiod4", :kotoba.app/embed-url "ipfs://bafkreigtkteowbi432sltdbdgfuatbqmdx6tsyk7n4itbkfyhs4hwuiod4", :published {:archive "https://kotobase.net/ipfs/bafkreigtkteowbi432sltdbdgfuatbqmdx6tsyk7n4itbkfyhs4hwuiod4", :size 76794, :put-status 201, :get-status 200, :at "2026-08-15T14:00:45.459Z"}}
